.contact-location {
    position: relative;
    margin-top: 15px;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
        margin-top: 100px;
    }

    @media (min-width: 992px) {
        margin-top: 185px;
    }

    @media (min-width: 1550px) {
        margin-top: 200px;
    }

    &--title {
        @extend .contact-title;
        font-size: rem(25px);
    }
    &--info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        flex-direction: column;

        @media (min-width: 992px) {
            flex-direction: row;
        }

        &-address {
            font-family: $museo;
            order: 2;
            margin-top: 15px;

            @media (min-width: 992px) {
                order: 1;
                margin-top: 0px;
            }

            p {
                font-size: rem(19px);
                color: $lGreen;
            }
            div {
                font-size: rem(15px);
            }
        }

        &-cta {
            height: 47px;
            order: 1;

            @media (min-width: 992px) {
                order: 2;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 178px;
                max-width: 100%;
                height: 100%;
                padding: 0 25px;
                background-color: $lGreen;
                font-family: $arvo;
                font-weight: bold;
                font-size: rem(15.5px);
                color: white;

                @media (min-width: 992px) {
                    max-width: 162px;
                    font-size: rem(10.5px);
                }
                @media (min-width: 1200px) {
                    max-width: 132px;
                    font-size: rem(12.5px);
                }
                @media (min-width: 1550px) {
                    max-width: 178px;
                    font-size: rem(15.5px);
                }
            }
        }
    }
}