.contact-info {
    max-width: 727px;
    padding: 45px 25px;
    background-color: #ffffff;
    border-radius: 0 146px 0 0;
    position: relative;
    top: 0px;

    @media (min-width: 992px) {
        padding: 67px 56px;
        top: 70px;
    }

    &--title {
        @extend .contact-title;
    }

    &--text p {
        font-family: $museo;
        font-size: rem(17px);
        line-height: 25px;
        color: $grey;
    }

    &--box {
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 40px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 595px;
        background-image: url(assets/images/contact-info-box-bg.png);
        background-position: center top;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 768px) {
            top: 0px;
            margin-bottom: 0px;
            height: 148px;
            background-position-x: 52px;
            background-size: contain;
            flex-direction: row;
        }

        &-image {
            position: relative;
            margin-top: -45px;
            margin-bottom: 15px;

            @media (min-width: 768px) {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &-text {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px;
            font-family: $museo;

            @media (min-width: 768px) {
                align-items: flex-start;
            }

            p {
                font-size: 14px;

                @media(min-width: 992px) {
                    font-size: rem(19px);
                }
            }
            a {
                font-size: 12.5px;
                color: $grey;

                @media(min-width: 992px) {
                    font-size: rem(16.5px);
                }
            }
        }

        &-icon {
            width: 30px;
            height: 30px;
            font-size: rem(20px);
            position: relative;
            right: 0;
            top: 19px;

            @media (min-width: 768px) {
                position: absolute;
                right: 10px;
                top: 5px;
            }
            @media (min-width: 1550px) {
                right: 65px;
                top: 25px;
            }

            a {
                width: 100%;
                height: 100%;
                display: block;
                background-color: #0274b3;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }
        }
    }
}