.register {
    &--holder {
        background-color: $dGreen;
        padding: 35px 25px;

        @media (min-width: 768px) {
            padding: 48px 92px;
        }
    }
    &--info {
        position: relative;
        top: -25px;
        padding: 0 20px;
        text-align: center;
    }
    &--title {
        font-family: $arvo;
        font-size: rem(36px);
        font-weight: bold;
        color: $lGreen;
        position: relative;
        top: -40px;
    }
    &--text {
        font-family: $museo;
        font-size: rem(17px);
        color: white;
        font-weight: 400;
    }
    &--form {
        .row {
            margin-bottom: 0px;

            @media(min-height: 768px) {
                margin-bottom: 20px;
            }
            .col-12 {
                padding: 10px;

                @media(min-height: 768px) {
                    padding: 0 10px;
                }
            }
        }
        input[type="text"] {
            height: 58px;
            width: 100%;
            padding: 0 20px;
            font-size: rem(17px);
            font-family: $museo5;
        }
        textarea {
            width: 100%;
            padding: 20px;
            font-size: rem(17px);
            font-family: $museo5;
        }
        ::placeholder {
            color: $green;
        }
        &-btn {
            width: 100%;
            height: 60px;
            top: 0;
            margin-top: -40px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &-bg {
                width: 232px;
                height: 100%;
                max-width: 100%;
                position: relative;
                display: inline-block;
                background-color: $lGreen;
                transform: rotate(-1deg);
                top: 75px;
                transition: $btnTrans;

                &:hover {
                    transform: rotate(2deg);
                }
                
                input {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: transparent;
                    border: none;
                    font-family: $arvo;
                    font-weight: bold;
                    font-size: rem(18px);
                    color: $dGreen;
                    transition: $btnTrans;

                    &:hover {
                        background-color: white;
                    }
                }
            }
        }
    }
}
