.contact-title {
    font-family: 'arvo';
    font-size: rem(25px);
    font-weight: bold;
    color: $dGreen;
    margin-bottom: 30px;

    @media (min-width: 1550px) {
        font-size: rem(32px);
    }
}

@import '_contact-info';
@import '_contact-location';
@import '_register';