footer {
    padding: 35px 0;
    background-color: $green;
    border: none;
    outline: none;
    position: relative;
    top: -2px;
    color: rgba(255, 255, 255, .53);
    font-size: 10px;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .footer--copyright {
        color: white;
        font-size: 12px;
        font-family: $arvo;
    }
    .footer--links {
        position: relative;
        top: 8px;

        a {
            margin-right: 10px;
            color: inherit;
            transition: $btnTrans;

            &:hover {
                color: white;
            }
        }
    }
    .footer--author {
        position: relative;
        top: 24px;
        text-align: center;

        @media (min-width: 768px) {
            text-align: right;
        }
    }

    .footer--girafe {
        position: absolute;
        bottom: 0;
        right: 26px;
        overflow: hidden;
        display: none;
        z-index: 0;

        @media (min-width: 768px) {
            right: 0;
            display: block;

        }

        svg {
            position: relative;
            top: 770px;
            right: 0;
            opacity: 1;
            transition: .4s all ease;
        }
    }
}