.contact {
    position: relative;
    z-index: 5;
    padding-bottom: 100px;

    @media (min-width: 1550px) {
        padding-bottom: 200px;
    }

    &:after {
        content: '';
        position: absolute;
        width: 73px;
        display: block;
        height: 30px;
        bottom: -30px;
        width: 0;
        height: 0;
        border-left: 36px solid transparent;
        border-right: 36px solid transparent;
        border-top: 30px solid #fff;
        left: calc((100vw/2) - 36px);
    }

    .section--sep_white {
        bottom: -5px;
        transform: rotate(180deg);
    }
}
section.contact, section.register, footer {
    .container {
        @media (min-width: 1200px) {
            max-width: 940px;
        }
        @media (min-width: 1550px) {
            max-width: 1140px;
        }
    }
}

section.register {
    background-color: $green;
    padding: 100px 0;
}

.section--sep_white {
    width: 100%;
    height: 50px;
    background-size: auto;
    background-image: url(assets/images/sep-white.png);
    background-position: center 0;
    position: absolute;
    background-repeat: repeat-x;
    bottom: -15px;
    z-index: 1;

    @media (min-width: 560px) {
        height: 50px;
    }
}