path#Path_315 {
    transform-origin: 881px 106px;
    transform: translate(-46px, -8px);
    animation: eye_squint 7s ease-in-out infinite;
}


@keyframes eye_squint {
    0% {
        transform: scaleY(1) translateX(-47px) translateY(-8px);
    }
    5% {
        transform: scaleY(0) translateX(-47px) translateY(-8px);
    }
    10% {
        transform: scaleY(1) translateX(-47px) translateY(-8px);
    }
    to {
        transform: scaleY(1) translateX(-47px) translateY(-8px);
    }
}

@keyframes leaf_shake {
    0% {
        transform: rotate(0)
    }
    1% {
        transform: rotate(-1deg)  translate(0, 10px)
    }
    2% {
        transform: rotate(2deg) translate(0, 0px)
    }
    3% {
        transform: rotate(-1deg) translate(0, 10px)
    }
    5% {
        transform: rotate(1deg) translate(0, 0)
    }
    10% {
        transform: rotate(0)
    }
    to {
        transform: rotate(0)
    }
}