@font-face {
    font-family: 'museo700';
    src: url('assets/fonts/museo700-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/museo700-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans_rounded500';
    src: url('assets/fonts/museosansrounded-500-webfont.woff2') format('woff2'),
         url('assets/fonts/museosansrounded-500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}