// Colours
$dGreen: #005148;
$green: #065D48;
$lGreen: #6CBE45;
$grey: #4B4B4B;

// Fonts
$arvo: 'Arvo', serif;
$museo: 'museo700', serif;
$museo5: 'museo_sans_rounded500', serif;

// Transitions
$btnTrans: .4s all ease;
