@import '_fonts';
@import '_variables';
@import '_animations';

html {
    font-size: 11px;
    
    @media(min-width: 768px) {
        font-size: 13px;
    }
    @media(min-width: 1550px) {
        font-size: 16px;
    }
}

body {
    background-color: white;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    &:hover {
        text-decoration: none;
    }
}